// BREAKPOINTS

rupture.scale = 0px 360px 480px 540px 680px 768px 992px 1024px 1140px 1220px
// Numbers are      1     2     3     4     5     6     7      8      9
rupture.enable-em-breakpoints = true
rupture.base-font-size = 16px
/*
rupture.enable-em-breakpoints = true
rupture.anti-overlap = true
*/