// VARIABLES

/*
border-color            = grey
border-color-hover      = lighten(border-color, 15%)

container-width         = 120rem

font-1                  = 'PT Sans', sans-serif;
font-2                  = font-1

html-font-size          = 62.5%

font-size               = 1.4rem
h1-size                 = 3rem
h2-size                 = 2.4rem
h3-size                 = 2rem
h4-size                 = 1.4rem

h-font                  = font-2
h-font-width            = 500

p-line-height           = 1.4
h-line-height           = 1.2
*/